<script type="text/javascript">
  var addCombinationBuild_DUPLICATE = "<div class='facebox-text'>New Combo Build Title: "+'<%= text_field_tag '', 'Super Build' %>'+"</div>"+
    "<div class='centered top_pad'><a href='/release_builds/1' class='green-button'>Create Combo Build</a></div>";
</script>


<div id="subnav">
  <ul>
    <!-- <li><%= link_to image_tag('subnav-back-button.png'), '' %></li> -->
    <li class="chevron with-submenu <%= @subsection == "index" ? 'active' : '' %>" id="view_method_menu_item">
      <%= link_to image_tag('subnav-chevron-down-arrow.png'), 'javascript:showSubmenu(\'view_method_submenu\', \'view_method_menu_item\')', :class => "submenu-arrow" %> 
      <%= link_to 'Country&nbsp;', '/country_items' %>
      <ol class="sub-menu hidden" id="view_method_submenu">
        <li><%= link_to 'View by Alphabetical Item Name', "/alphabetical_items" %></li>
        <li><%= link_to 'View by Store Location', "/store_location_items" %></li>
        <li><%= link_to 'View by Vendor Supply Type', "/vendor_supply_type_items" %></li>
        <li><%= link_to 'View by Country', "/country_items" %></li>
      </ol>
    </li>
    <li class="<%= @subsection == "country_All" ? 'active' : '' %><%= @subsection == "index" ? ' active-chevron-before' : ' inactive-chevron-before' %>"><%= link_to 'All', '/country_items' %></li>
    
    <% ['Australia', 'Canada', 'China', 'France', 'Germany', 'Italy', 'Japan', 'Switzerland', 'UK', 'USA'].each do |country| %>
      <li class="<%= @subsection == "vendor_supply_type_#{country.downcase.gsub(' ', '-')}" ? 'active' : '' %>"><%= link_to country, '/country_items' %></li>
    <% end %>

  </ul>
</div>