<% unless @controller.action_name == 'show' %>
<div id="subnav">
  <ul>
    <li><%= link_to image_tag('subnav-back-button.png'), '/store_workbooks/1/edit' %></li> 
    <li class="<%= @subsection == "edit" ? 'active' : '' %>"><%= link_to 'Overview', '/store_workbooks/1/edit' %></li>
    <li class="<%= @subsection == "edit" ? 'active' : '' %>"><%= link_to 'Edit Size &amp; Location', '/store_workbooks/1/edit_size_location' %></li>
    <li class="<%= @subsection == "edit" ? 'active' : '' %>"><%= link_to 'Diff. Details', '/store_workbooks/1/diff' %></li>
    <li class="<%= @subsection == "edit" ? 'active' : '' %>"><%= link_to 'View Workbook', '/store_workbooks/1/workbook' %></li>
    <li class="<%= @subsection == "exceptions" ? 'active' : '' %>"><%= link_to 'Exceptions (15)', '/store_workbooks/1/exceptions' %></li>
    <li class="<%= @subsection == "edit" ? 'active' : '' %>"><%= link_to 'Download XLS', '/store_workbooks/1.xls' %></li>
  </ul>
</div>
<% end %>