<script type="text/javascript">
var uploadPicture = "<div class='facebox-text'>New Photo File: <input type='file' /></div>"+
"<div class='centered top_pad'><a href='#' class='green-button'>Upload</a></div>";
var removeFromCountry = "<div class='facebox-text'>Are you sure you would like to remove this item from the country?</div>"+
"<div class='centered top_pad'><a href='' class='red-button'>Remove Team</a></div>";
</script>

<div class="show-item">
  <div class="picture">
    <div class="hover-edit-box"><%= link_to 'Replace', "javascript:jQuery.facebox(uploadPicture);", :class => 'main-content-button' %></div>

    <%= image_tag 'temp/dispenser.png' %>
  </div>



  <div class="locations-and-vendor-type">

    <div id="edit-locations-and-vendor-type" class="hidden">
      <div class="locations">
        <h3>Locations in the Store</h3>
        <div class="location early-manager-kit"><%= check_box_tag '', '', false %> <label for=""><span class="icon">&nbsp;</span> Early Manager Kit</label></div>
        <div class="location visual"><%= check_box_tag '', '', false %> <label for=""><span class="icon">&nbsp;</span> Visual</label></div>
        <div class="location managers-office"><%= check_box_tag '', '', false %> <label for=""><span class="icon">&nbsp;</span> Manager's Office</label></div>
        <div class="location retail-systems"><%= check_box_tag '', '', false %> <label for=""><span class="icon">&nbsp;</span> Retail Systems</label></div>
        <div class="location business"><%= check_box_tag '', '', false %> <label for=""><span class="icon">&nbsp;</span> Business</label></div>
        <div class="location janitorial"><%= check_box_tag '', '', false %> <label for=""><span class="icon">&nbsp;</span> Janitorial</label></div>
        <div class="location personal-setup"><%= check_box_tag '', '', false %> <label for=""><span class="icon">&nbsp;</span> Personal Setup</label></div>
        <div class="location cash-wrap"><%= check_box_tag '', '', false %> <label for=""><span class="icon">&nbsp;</span> Cash Wrap</label></div>
        <div class="location boh"><%= check_box_tag '', '', true %> <label for=""><span class="icon">&nbsp;</span> Back of House</label></div>
        <div class="location genius-bar"><%= check_box_tag '', '', true %> <label for=""><span class="icon">&nbsp;</span> Genius Bar</label></div>
        <div class="location genius-repair-room"><%= check_box_tag '', '', true %> <label for=""><span class="icon">&nbsp;</span> Genius Repair Room</label></div>
        <div class="location operator"><%= check_box_tag '', '', false %> <label for=""><span class="icon">&nbsp;</span> Operator</label></div>
      </div>
      <div class="vendor-type-box">
        <h3>Vendor Supply Type</h3>
        <div class="vendor-type"><%= radio_button_tag '', '', false %> Apple Branded Items</div>
        <div class="vendor-type"><%= radio_button_tag '', '', true %> Apple Toolkit</div>
        <div class="vendor-type"><%= radio_button_tag '', '', false %> Manager's Office</div>
      </div>

      <div class="save-or-cancel">
        <%= link_to 'Cancel', "javascript:hideDiv('edit-locations-and-vendor-type');showDiv('show-locations-and-vendor-type');", :class => 'main-content-button' %>
        &nbsp; - or - &nbsp;
        <%= link_to 'Save', "javascript:hideDiv('edit-locations-and-vendor-type');showDiv('show-locations-and-vendor-type');", :class => 'green-button' %>
      </div>
    </div>

    <div id="show-locations-and-vendor-type">
      <div class="hover-edit-box"><%= link_to 'edit', "javascript:showDiv('edit-locations-and-vendor-type');hideDiv('show-locations-and-vendor-type')", :class => 'main-content-button' %></div>

      <div class="locations">
        <h3>Locations in the Store</h3>
        <div class="location boh"><span class="icon">&nbsp;</span> Back of House</div>
        <div class="location genius-bar"><span class="icon">&nbsp;</span> Genius Bar</div>
        <div class="location genius-repair-room"><span class="icon">&nbsp;</span> Genius Repair Room</div>
      </div>
      <div class="vendor-type-box">
        <h3>Vendor Supply Type</h3>
        <div class="vendor-type">Apple Toolkit</div>
      </div>
    </div>
  </div>

  <div class="name-desc-notes-box">

    <div class="name-and-description">
      
      <div id="edit-name-and-description" class="hidden">
        <h1><%= text_field_tag '', 'Dispenser' %></h1>
        <div class="description">
          <h3>Description</h3>
          <p><%= text_area_tag '', 'The dispenser is used to automatically dispense soap in every store regardless of size and location.' %></p>
        </div>
        
        <div class="save-or-cancel">
          <%= link_to 'Cancel', "javascript:hideDiv('edit-name-and-description');showDiv('show-name-and-description');", :class => 'main-content-button' %>
          &nbsp; - or - &nbsp;
          <%= link_to 'Save', "javascript:hideDiv('edit-name-and-description');showDiv('show-name-and-description');", :class => 'green-button' %>
        </div>
      </div>
      
      <div id="show-name-and-description">
        <div class="hover-edit-box"><%= link_to 'edit', "javascript:hideDiv('show-name-and-description');showDiv('edit-name-and-description');", :class => 'main-content-button' %></div>
        
        <h1>Dispenser</h1>
        <div class="description">
          <h3>Description</h3>
          <p>The dispenser is used to automatically dispense soap in every store regardless of size and location.</p>
        </div>
      </div>
    </div>


    <div class="notes-box">

      <div class="new-note-box"><%= link_to '+', "javascript:showDiv('new_note');", :class => 'main-content-button' %></div>

      <h3>Notes</h3>

      <div id="new_note" class="note hidden">
        <p><%= text_area_tag '', '' %></p>
        <div class="note-actions"><%= link_to 'Save', "javascript:hideDiv('new_note');", :class => 'main-content-button' %></div>
        <div class="byline">by <%= text_field_tag '', '' %> at 3/1/09, 12:45pm</div>
      </div>

      <div class="note">
        <p>We're waiting for the vendor to get back to us about the pricing.</p>
        <div class="note-actions"><%= link_to 'Mark as Resolved', '#', :class => 'main-content-button' %></div>
        <div class="byline">by Jeanette at 3/1/09, 12:45pm</div>
      </div>

      <div id="show_old_notes" class="expanding-link">
        <a href="javascript:hideDiv('show_old_notes');showDiv('older_notes');">Show Older Notes (3)</a>
      </div>

      <div id="older_notes" class="hidden">
        <div class="note">
          <p>We're waiting for the vendor to get back to us about the pricing.</p>
          <div class="note-actions">Resolved. <%= link_to 'Un-Mark', '#', :class => 'main-content-button disabled' %></div>
          <div class="byline">by Jeanette at 3/1/09, 12:45pm</div>
        </div>
        <div class="note">
          <p>We're waiting for the vendor to get back to us about the pricing.</p>
          <div class="note-actions">Resolved. <%= link_to 'Un-Mark', '#', :class => 'main-content-button disabled' %></div>
          <div class="byline">by Jeanette at 3/1/09, 12:45pm</div>
        </div>
        <div class="note">
          <p>We're waiting for the vendor to get back to us about the pricing.</p>
          <div class="note-actions">Resolved. <%= link_to 'Un-Mark', '#', :class => 'main-content-button disabled' %></div>
          <div class="byline">by Jeanette at 3/1/09, 12:45pm</div>
        </div>

        <div class="expanding-link">
          <a href="javascript:showDiv('show_old_notes');hideDiv('older_notes');">Hide Older Notes</a>
        </div>
      </div>



    </div>

  </div>



  <div class="clear"></div>

  <div class="countries-box">
    <% ['US', 'Canada', 'Japan', 'China', 'Germany', 'Italy', 'France', 'Switzerland'].each do |country| %>
    <div class="country">


      <% if country == 'China' || country == 'Germany' || country == 'Italy' || country == 'France' || country == 'Switzerland' %>
      <div id="not-available-<%= country.downcase %>" class="not-available">
        <div class="edit-country-box"><%= link_to 'Make Available', "javascript:showDiv('edit-country-#{country.downcase}');hideDiv('not-available-#{country.downcase}');", :class => 'main-content-button' %></div>

        <h4><%=h country %></h4>
        <div class="notice">Item not available here.</div>
        <div class="clear"></div>
      </div>
      <% end %>
      <div id="show-country-<%= country.downcase %>" class="<%= country == 'China' || country == 'Germany' || country == 'Italy' || country == 'France' || country == 'Switzerland' ? 'hidden' : '' %>">
        <div class="edit-country-box"><%= link_to 'edit', "javascript:showDiv('edit-country-#{country.downcase}');hideDiv('show-country-#{country.downcase}');", :class => 'main-content-button' %></div>

        <h4><%=h country %></h4>

        <div class="info-column">
          <div class="field-row"><div class="field-label"><label for="">Vendor</label></div> <div class="field-value">&nbsp;Staples</div></div>
          <div class="field-row"><div class="field-label"><label for="">Apple Part #</label></div> <div class="field-value">&nbsp;843JER78RJK</div></div>
          <div class="field-row"><div class="field-label"><label for="">Vendor Part #</label></div> <div class="field-value">&nbsp;985JKR8E</div></div>
          <div class="field-row"><div class="field-label"><label for="">Mfgr. Part #</label></div> <div class="field-value">&nbsp;893JKFCI45</div></div>
        </div>
        <div class="info-column">
          <div class="field-row"><div class="field-label"><label for="">Unit of Measure</label></div> <div class="field-value">&nbsp;5 per Box</div></div>
          <h5>Quantities in Stores</h5>
          <div class="field-row"><div class="field-label"><label for="">Mini Store</label></div> <div class="field-value">&nbsp;5</div></div>
          <div class="field-row"><div class="field-label"><label for="">Small Store</label></div> <div class="field-value">&nbsp;10</div></div>
          <div class="field-row"><div class="field-label"><label for="">Flagship Store</label></div> <div class="field-value">&nbsp;30</div></div>
        </div>
        <div class="clear"></div>
      </div>
      <div id="edit-country-<%= country.downcase %>" class="hidden">
        <h4><%=h country %></h4>

        <div class="info-column">
          <div class="field-row"><div class="field-label"><label for="">Vendor</label></div> <div class="field-value">&nbsp;<select><option>XPDX</option><option>Staples</option></select></div></div>
          <div class="field-row"><div class="field-label"><label for="">Apple Part #</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
          <div class="field-row"><div class="field-label"><label for="">Vendor Part #</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
          <div class="field-row"><div class="field-label"><label for="">Mfgr. Part #</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
        </div>
        <div class="info-column">
          <div class="field-row"><div class="field-label"><label for="">Unit of Measure</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
          <h5>Quantities in Stores</h5>
          <div class="field-row"><div class="field-label"><label for="">Mini Store</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
          <div class="field-row"><div class="field-label"><label for="">Small Store</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
          <div class="field-row"><div class="field-label"><label for="">Flagship Store</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
        </div>
        <div class="clear"></div>
        <div class="save-or-cancel">
          <%= link_to 'Make Not Applicable', "javascript:jQuery.facebox(removeFromCountry)", :class => 'red-button' %>
          &nbsp; - or - &nbsp;
          <%= link_to 'Cancel', "javascript:hideDiv('edit-country-#{country.downcase}');showDiv('show-country-#{country.downcase}');", :class => 'main-content-button' %>
          &nbsp; - or - &nbsp;
          <%= link_to 'Save', "javascript:hideDiv('edit-country-#{country.downcase}');showDiv('show-country-#{country.downcase}');", :class => 'green-button' %>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>