
<div class="show-item">
  <div class="picture">
    <%= image_tag 'temp/dispenser.png' %>
  </div>



  <div class="locations-and-vendor-type">
    <div class="locations">
      <h3>Locations in the Store</h3>
      <div class="location boh"><span class="icon">&nbsp;</span> Back of House</div>
      <div class="location genius-bar"><span class="icon">&nbsp;</span> Genius Bar</div>
      <div class="location genius-repair-room"><span class="icon">&nbsp;</span> Genius Repair Room</div>
    </div>
    <div class="vendor-type-box">
      <h3>Vendor Supply Type</h3>
      <div class="vendor-type">Apple Toolkit</div>
    </div>
  </div>
  
  <div class="name-desc-notes-box">
    <div class="name-and-description">
      <h1>Dispenser</h1>
      <div class="description">
        <h3>Description</h3>
        <p>The dispenser is used to automatically dispense soap in every store regardless of size and location.</p>
      </div>
    </div>


    <div class="notes-box">
      
      <div class="new-note-box"><%= link_to '+', "javascript:showDiv('new_note');", :class => 'main-content-button' %></div>
      
      <h3>Notes</h3>
      
      <div id="new_note" class="note hidden">
        <p><%= text_area_tag '', '' %></p>
        <div class="note-actions"><%= link_to 'Save', "javascript:hideDiv('new_note');", :class => 'main-content-button' %></div>
        <div class="byline">by <%= text_field_tag '', '' %> at 3/1/09, 12:45pm</div>
      </div>
      
      <div class="note">
        <p>We're waiting for the vendor to get back to us about the pricing.</p>
        <div class="note-actions"><%= link_to 'Mark as Resolved', '#', :class => 'main-content-button' %></div>
        <div class="byline">by Jeanette at 3/1/09, 12:45pm</div>
      </div>

      <div id="show_old_notes" class="expanding-link">
        <a href="javascript:hideDiv('show_old_notes');showDiv('older_notes');">Show Older Notes (3)</a>
      </div>

      <div id="older_notes" class="hidden">
        <div class="note">
          <p>We're waiting for the vendor to get back to us about the pricing.</p>
          <div class="note-actions">Resolved. <%= link_to 'Un-Mark', '#', :class => 'main-content-button disabled' %></div>
          <div class="byline">by Jeanette at 3/1/09, 12:45pm</div>
        </div>
        <div class="note">
          <p>We're waiting for the vendor to get back to us about the pricing.</p>
          <div class="note-actions">Resolved. <%= link_to 'Un-Mark', '#', :class => 'main-content-button disabled' %></div>
          <div class="byline">by Jeanette at 3/1/09, 12:45pm</div>
        </div>
        <div class="note">
          <p>We're waiting for the vendor to get back to us about the pricing.</p>
          <div class="note-actions">Resolved. <%= link_to 'Un-Mark', '#', :class => 'main-content-button disabled' %></div>
          <div class="byline">by Jeanette at 3/1/09, 12:45pm</div>
        </div>
      </div>
    </div>

  </div>



  <div class="clear"></div>

  <div class="countries-box">
    <% ['US', 'Canada', 'Japan', 'China', 'Germany', 'Italy', 'France', 'Switzerland'].each do |country| %>
    <div class="country">
      <h4><%=h country %></h4>
      <div class="info-column">
        <div class="field-row"><div class="field-label"><label for="">Vendor</label></div> <div class="field-value">&nbsp;<select><option>XPDX</option><option>Staples</option></select></div></div>
        <div class="field-row"><div class="field-label"><label for="">Apple Part #</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
        <div class="field-row"><div class="field-label"><label for="">Vendor Part #</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
        <div class="field-row"><div class="field-label"><label for="">Mfgr. Part #</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
      </div>
      <div class="info-column">
        <div class="field-row"><div class="field-label"><label for="">Unit of Measure</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
        <h5>Quantities in Stores</h5>
        <div class="field-row"><div class="field-label"><label for="">Mini Store</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
        <div class="field-row"><div class="field-label"><label for="">Small Store</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
        <div class="field-row"><div class="field-label"><label for="">Flagship Store</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
      </div>
      <div class="clear"></div>
    </div>
    <% end %>
  </div>
</div>