<script type="text/javascript">
var changeQty = "<div class='facebox-text'>Change the quantity of this item being sent to this store: <input type='text'/>.</div>"+
"<div class='centered top_pad'><a href='' class='green-button'>Set Qty</a></div>";
var comment = "<div class='facebox-text'>Add Comment: <input type='text'/>.</div>"+
"<div class='centered top_pad'><a href='' class='green-button'>Save</a></div>";
var removeWorkbook = "<div class='facebox-text'>Are you sure you'd like to remove this item from the workbook?</div>"+
"<div class='centered top_pad'><a href='' class='red-button'>Remove From Workbook</a></div>";
</script>

<h2>All Items</h2>

<table class="all-items" cellspacing="0" cellpadding="0">
  <tr class="header">
    <th><a href="#SORT">Location</a></th>
    <th><a href="#SORT">Vendor</a></th>
    <th><a href="#SORT">Apple / Vendor Part #</a></th>
    <th><a href="#SORT">Mfgr. Part #</a></th>
    <th class="sorted-desc"><div class="sort-icon"></div><a href="#SORT">Name</a></th>
    <th><a href="#SORT">Image</a></th>
    <th><a href="#SORT">Unit of Measure</a></th>
    <th><a href="#SORT">Quantity in Kit</a></th>
    <th><a href="#SORT">Comment</a></th>
    <th><a href="#SORT">Remove</a></th>
  </tr>

  <tr>
    <td class="location boh"><a href="/<%= @controller.controller_name %>/1">Back of House</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">XPDX</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">ACM51005</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">700806</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">Data Rack Label<br/><small>This is the description of the item.</small></a></td>
    <td class="image"><a href="/<%= @controller.controller_name %>/1"><%= link_to image_tag('temp/rack-label.jpg'), 'javascript:jQuery.facebox({image: \'/images/temp/rack-label.jpg\'})' %></a></td>
    <td><a href="/<%= @controller.controller_name %>/1">BX</a></td>
    <td>2 <a href="javascript:$.facebox(changeQty)" class="main-content-button">change</a></td>
    <td><a href="javascript:$.facebox(comment)" class="main-content-button">add</a></td>
    <td class="remove"><a href="javascript:jQuery.facebox(removeWorkbook)"><%= image_tag 'gray-remove-circle.png' %></a></td>
  </tr>

  <tr>
    <td class="location boh"><a href="/<%= @controller.controller_name %>/1">Back of House</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">XPDX</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">ACM51005</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">700806</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">Dispenser<br/><small>This is the description of the item.</small></a></td>
    <td class="image"><a href="/<%= @controller.controller_name %>/1"><%= link_to image_tag('temp/dispenser.png'), 'javascript:jQuery.facebox({image: \'/images/temp/dispenser.png\'})' %></a></td>
    <td><a href="/<%= @controller.controller_name %>/1">BX</a></td>
    <td>2 <a href="javascript:$.facebox(changeQty)" class="main-content-button">change</a></td>
    <td><a href="javascript:$.facebox(comment)" class="main-content-button">add</a></td>
    <td class="remove"><a href="javascript:jQuery.facebox(removeWorkbook)"><%= image_tag 'gray-remove-circle.png' %></a></td>
  </tr>

  <tr>
    <td class="location genius-bar"><a href="/<%= @controller.controller_name %>/1">Genius Bar</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">XPDX</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">ACM51005</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">700806</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">Downtime Transaction Form<br/><small>This is the description of the item.</small></a></td>
    <td class="image"><a href="/<%= @controller.controller_name %>/1"><%= link_to image_tag('temp/form.gif'), 'javascript:jQuery.facebox({image: \'/images/temp/form.gif\'})' %></a></td>
    <td><a href="/<%= @controller.controller_name %>/1">BX</a></td>
    <td>2 <a href="javascript:$.facebox(changeQty)" class="main-content-button">change</a></td>
    <td><a href="javascript:$.facebox(comment)" class="main-content-button">add</a></td>
    <td class="remove"><a href="javascript:jQuery.facebox(removeWorkbook)"><%= image_tag 'gray-remove-circle.png' %></a></td>
  </tr>

  <tr>
    <td class="location genius-repair-room"><a href="/<%= @controller.controller_name %>/1">Genius Repair Room</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">XPDX</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">ACM51005</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">700806</a></td>
    <td><a href="/<%= @controller.controller_name %>/1">Dots (Assorted Colors)<br/><small>This is the description of the item.</small></a></td>
    <td class="image"><a href="/<%= @controller.controller_name %>/1"><%= link_to image_tag('temp/dots-assorted.jpg'), 'javascript:jQuery.facebox({image: \'/images/temp/dots-assorted.jpg\'})' %></a></td>
    <td><a href="/<%= @controller.controller_name %>/1">BX</a></td>
    <td>2 <a href="javascript:$.facebox(changeQty)" class="main-content-button">change</a></td>
    <td><a href="javascript:$.facebox(comment)" class="main-content-button">add</a></td>
    <td class="remove"><a href="javascript:jQuery.facebox(removeWorkbook)"><%= image_tag 'gray-remove-circle.png' %></a></td>
  </tr>


</table>